$theme-dark: #222;
$theme-bg:#111;
$white:#fff;
$black:#000;
$theme:#ffb400;
$list-item-bg:#2b2a2a;
$light-text:#666;
$theme-switcher-bg: #4b4b4b;
$dark-border: #252525;
$input-border: #111;
$social-dark-bg: #2b2a2a;
$green:#5be85b;
$post-bg:#555;
$off-white:#eee;
$responsive-list-icon-bg-dark:#444;
$resume-light-border:#ddd;
$light-header-box-shadow:#dedede;